{% extends 'admin.html.twig' %}

{% block admin %}
    <h1>{{ is_edit ? 'Modifier' : 'Ajouter' }} un invité</h1>

    {{ form_start(form) }}
        <div class="mb-3">
            {{ form_row(form.name) }}
            {{ form_row(form.email) }}
            {{ form_row(form.password) }}
            {{ form_row(form.isBlocked) }}
        </div>
        <button class="btn btn-success">{{ is_edit ? 'Mettre à jour' : 'Créer' }}</button>
    {{ form_end(form) }}
{% endblock %}
